@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,200;0,300;0,600;0,700;1,400&display=swap");

:root {
  --gradient: linear-gradient(45deg, blue, red);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #a99687;
}

.Tcenter {
  text-align: center;
}
